.hero {

  position: relative;
  overflow: hidden;
  min-height: 100vh;
  overflow: hidden;

  .image {
    animation: kenburns 40s infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }


  .grid-container,
  .grid-x,
  .cell,
  .content {
    min-height: 100vh;
  }

  .grid-container {
    position: relative;
  }

  .content {
    padding: 24vh 0px 14vh;
    position: relative;
    z-index: 99;



    .mouse {
      position: absolute;
      bottom: 3em;
      left: 0em;
    }
  }

  .hero-image {
    position: absolute;
    right: 0;
    left: 48%;
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    overflow: hidden;


    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -50px;
      right: 0;
      bottom: 0;
      background-image: url(../img/curve-black.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      min-height: 1200px;
      margin: auto;
      z-index: 99;
    }


    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0)
    }


    .hero-device {
      position: absolute;
      top: 30%;
      bottom: 20%;
      left: 10%;
      background-size: contain;
      width: 500px;
      height: 500px;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  .sub-heading {
    text-transform: uppercase;
    font-family: p22-underground, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #63D7FB;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 15px;
  }

  p {
    width: 90%;
    font-size: 23px;
  }


  .get-in-touch {
    position: absolute;
    bottom: 0;
    right: -5em;
    width: 320px;
    font-weight: bold;
    font-family: p22-underground, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 13px;
    margin: 10px 0px;
    transform: rotate(90deg);
    z-index: 999999;

    &:after {
      content: "";
      position: absolute;
      left: 160px;
      right: 0;
      top: 23px;
      bottom: 10px;
      height: 3px;
      background-color: white;
    }

  }

}

.sub-hero {
  min-height: 60vh;
  border-bottom: 15px solid #2593d1;

  .grid-container,
  .grid-x,
  .cell,
  .content {
    min-height: 60vh;
  }

  .content {
    padding: 130px 0px 10em;

    .mouse {
      bottom: 2em;
    }
  }

  .hero-image:after {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

