h1,
h2,
h3,
h4,
h5 {
  font-family: p22-underground, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;

  b,
  strong {
    font-family: p22-underground, sans-serif;
    font-weight: 900;
    font-style: normal;
  }

}

h1 {
  font-size: 85px;
  line-height: 80px;
  margin: 10px 0px;

  p {
    font-size: 85px;
    line-height: 80px;

  }
}

h1.heading {
  margin-top: 20px;
}

h2 {
  font-size: 60px;
    line-height: 61px;
    font-weight: bold;

  p {
    font-size: 60px;
    line-height: 61px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.text-image {
  h2 {
    font-size: 85px;
      line-height: 85px;

    p {
      font-size: 85px;
      line-height: 85px; 
      margin-bottom: 0px;
    }
  }
}

h3 {
  text-transform: none;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
}

.skip-to {
  display: none;
}

p {
  font-size: 18px;
  font-weight: normal;

  a {
    font-family: p22-underground, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.h2-large {
  font-size: 95px;
  line-height: 95px;

  p {
    font-size: 95px;
    line-height: 95px;
  }
}




.sub-hero {
  h1 {
    font-size: 64px;
    line-height: 64px;
  }
}